<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">{{teacher.title}} {{ teacher.firstName }} {{ teacher.lastName }}</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img [src]="this.url" class="rounded picture" alt="..." />
            <div class="mt-2">
              <button
                type="button"
                class="btn btn-light"
                onclick="document.getElementById('upload').click();"
              >
                Załaduj zdjęcie
              </button>
              <input
                type="file"
                style="visibility: hidden"
                id="upload"
                (change)="handleFileInput($event.target)"
              />
            </div>
          </div>
          <div class="col-8">
            <div class="border-left pl-2">
              <p>{{ teacher.faculty }}</p>
            </div>
          </div>
        </div>
        <div class="row ml-1">
        </div>
      </div>
    </div>
    <div class="col">
      <app-teacher-schedule [id]="id"></app-teacher-schedule>
    </div>
  </div>
</div>
