<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">
    {{ group.subject.name }}
  </h2>
  <h2 class="h2 ml-auto">
    {{ group.subject.discipline }}, Semestr
    {{ group.subject.semester }}
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group form-inline">
        <h4 class="h4">Studenci</h4>
        <div ngbDropdown class="d-inline-block ml-auto">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addStudent()"
            [disabled]="group.closed"
          >
            + Dodaj
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Zdjęcie</th>
            <th scope="col">Nr indeksu</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Ocena</th>
            <th scope="col">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students$ | async; index as i">
            <td>
              <img
                [src]="dataService.getStudentAvatar(student.id)"
                class="rounded picture"
                alt="..."
              />
            </td>
            <td>
              <ngb-highlight
                class="pointer"
                [routerLink]="'/students/' + student.id"
                [result]="student.id"
                [term]="studentsService.searchTerm"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="student.firstName"
                [term]="studentsService.searchTerm"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="student.lastName"
                [term]="studentsService.searchTerm"
              ></ngb-highlight>
            </td>
            <td>
              <div ngbDropdown>
                <button
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  [disabled]="group.closed"
                  ngbDropdownToggle
                >
                  {{
                    dataService.getStudentGrade(group, student) | number: "1.1"
                  }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button
                    ngbDropdownItem
                    (click)="dataService.setStudentGrade(group, student, null)"
                  >
                    Brak
                  </button>
                  <button
                    ngbDropdownItem
                    *ngFor="let grade of dataService.getAvailableGrades()"
                    (click)="dataService.setStudentGrade(group, student, grade)"
                  >
                    {{ grade | number: "1.1" }}
                  </button>
                </div>
              </div>
            </td>
            <td>
              <i
                class="ti ti-trash text-danger"
                ngbTooltip="Usuń"
                (click)="deleteStudent(student)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(total$ | async)!"
          [(page)]="studentsService.page"
          [pageSize]="studentsService.pageSize"
        >
        </ngb-pagination>
        <select
          class="custom-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="studentsService.pageSize"
        >
          <option [ngValue]="2">2</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="6">6</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="form-group form-inline">
          <h4 class="h4">Prowadzący</h4>
          <div *ngIf="!group.closed" class="ml-auto">
            <button class="btn btn-danger" (click)="group.closed = true">
              Zamknij
            </button>
          </div>
          <div *ngIf="group.closed" class="ml-auto">
            <button class="btn btn-info" (click)="group.closed = false">
              Otwórz
            </button>
          </div>
        </div>
        <div style="display: inline-block">
          <div class="form-group row required ml-2">
            <div ngbDropdown>
              <button
                class="btn btn-outline-primary"
                id="dropdownDiscipline"
                [disabled]="group.closed"
                ngbDropdownToggle
              >
                <span *ngIf="group.teacher != null">{{
                  group.teacher.lastName + " " + group.teacher.firstName
                }}</span>
              </button>
              <div
                ngbDropdownMenu
                class="overflow-auto"
                style="max-height: 300px"
              >
                <button
                  ngbDropdownItem
                  class="dropdown-item"
                  *ngFor="let teacher of teachers"
                  (click)="group.teacher = teacher"
                >
                  {{ teacher.lastName + " " + teacher.firstName }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="display: inline-block" class="ml-5">
          <i [routerLink]="'/teachers/' + this.group.teacher.id">
            <img
              [src]="dataService.getTeacherAvatar(this.group.teacher.id)"
              class="rounded lg-picture"
              alt="..."
            />
          </i>
        </div>
      </div>
      <div class="mt-5" style="display: inline-block">
        <div class="form-group form-inline">
          <h4 class="h4">Liczba miejsc</h4>
        </div>
        <div class="form-group row required ml-2">
          <input
            type="number"
            class="form-control"
            style="width: 10em"
            min="1"
            [disabled]="group.closed"
            [(ngModel)]="group.max"
          />
        </div>
      </div>
      <div class="mt-5 ml-5" style="display: inline-block">
        <div class="form-group form-inline">
          <h4 class="h4">Sala</h4>
        </div>
        <div class="form-group row required ml-2">
          <input
            type="text"
            class="form-control"
            style="width: 10em"
            [disabled]="group.closed"
            [(ngModel)]="group.room"
          />
        </div>
      </div>
      <div class="mt-5">
        <div class="form-group form-inline">
          <h4 class="h4">Godziny</h4>
          <div ngbDropdown class="d-inline-block ml-auto">
            <button
              type="button"
              class="btn btn-primary"
              (click)="editTime()"
              [disabled]="group.closed"
            >
              + Ustaw
            </button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Dzień tygodnia</th>
              <th scope="col">Od</th>
              <th scope="col">Do</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ dataService.getDay(group.day) }}
                {{
                  group.week == weekP ? "(P)" : group.week == weekN ? "(N)" : ""
                }}
              </td>
              <td>
                {{ group.fromHour }}
              </td>
              <td>
                {{ group.toHour }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
