<div>
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2 class="h2">Prowadzący</h2>
  </div>
  <div>
    <div class="form-group form-inline">
      Szukaj:
      <input
        class="form-control ml-2"
        type="text"
        name="searchTerm"
        [(ngModel)]="teachersService.searchTerm"
      />
      <span class="ml-3" *ngIf="teachersService.loading$ | async"
        >Ładowanie...</span
      >
      <div ngbDropdown class="d-inline-block ml-auto">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <span *ngIf="selectedFaculty == null">Wszystkie katedry</span>
          <span *ngIf="selectedFaculty != null">{{
            selectedFaculty
          }}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="
            selectedFaculty = null;
              teachersService.setSelectedFaculty(null)
            "
          >
            Wszystkie kierunki
          </button>
          <button
            ngbDropdownItem
            *ngFor="let faculty of teachersService.faculties"
            (click)="
              selectedFaculty = faculty;
              teachersService.setSelectedFaculty(faculty)
            "
          >
            {{ faculty }}
          </button>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary ml-2"
        (click)="addTeacher()"
      >
        + Dodaj
      </button>
    </div>
    <table class="table table-hover table-striped table-striped">
      <thead>
        <tr>
          <th scope="col">Zdjęcie</th>
          <th scope="col" sortable="title" (sort)="onSort($event)">Tytuł</th>
          <th scope="col" sortable="firstName" (sort)="onSort($event)">Imię</th>
          <th scope="col" sortable="lastName" (sort)="onSort($event)">
            Nazwisko
          </th>
          <th scope="col" sortable="faculty" (sort)="onSort($event)">
            Katedra
          </th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers$ | async; index as i">
          <td>
            <img
              [src]="dataService.getTeacherAvatar(teacher.id)"
              class="rounded picture"
              alt="..."
            />
          </td>
          <td>
            <ngb-highlight
              [result]="teacher.title"
              [term]="teachersService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="teacher.firstName"
              [term]="teachersService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="teacher.lastName"
              [term]="teachersService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="teacher.faculty"
              [term]="teachersService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <i
              class="ti ti-layout-list-thumb text-info"
              ngbTooltip="Szczegóły"
              [routerLink]="'/teachers/' + teacher.id"
            ></i>
            <i
              class="ti ti-pencil text-info ml-2"
              ngbTooltip="Edytuj"
              (click)="editTeacher(teacher)"
            ></i
            ><i
              class="ti ti-trash text-danger ml-2"
              ngbTooltip="Usuń"
              (click)="deleteTeacher(teacher)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="teachersService.page"
        [pageSize]="teachersService.pageSize"
      >
      </ngb-pagination>

      <select
        class="custom-select"
        style="width: auto"
        name="pageSize"
        [(ngModel)]="teachersService.pageSize"
      >
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
    </div>
  </div>
  <div style="height: 3em;">
  </div>
</div>
