<div class="form-group form-inline">
  <h4 class="h4">Oceny</h4>
  <div ngbDropdown class="d-inline-block ml-auto">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      <span *ngIf="selectedSemester == null">Wszystkie semestry</span>
      <span *ngIf="selectedSemester != null"
        >Semestr {{ selectedSemester }}</span
      >
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="selectedSemester = null; filter()">
        Wszystkie semestry
      </button>
      <button
        ngbDropdownItem
        *ngFor="let semester of semesters"
        (click)="selectedSemester = semester; filter()"
      >
        Semestr {{ semester }}
      </button>
    </div>
  </div>
</div>
<div class="overflow-auto mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Przedmiot</th>
        <th>Prowadzący</th>
        <th>ECTS</th>
        <th>Ocena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of grades; index as i">
        <td>{{ grade.subject.name }}</td>
        <td>
          <span class="pointer" [routerLink]="'/teachers/' + grade.teacher.id"
            >{{ grade.teacher.lastName }} {{ grade.teacher.firstName }}</span
          >
        </td>
        <td>{{ grade.subject.ects }}</td>
        <td>{{ grade.grade | number: "1.1"}}</td>
      </tr>
    </tbody>
  </table>
</div>
