.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.picture {
  max-height: 40px;
  max-width: 40px;
}

td {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

th {
  user-select: none;
  background-color: #f8f9fa;
}

i {
  cursor: pointer;
}
