table {
  width: 100%;
}

.overflow-auto {
  width: 100%;
  height: 22em;
}

td {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

th {
  user-select: none;
  background-color: #f8f9fa;
}
