<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-1 mr-0" href="#">
    <img src="../assets/images/logo.png"/>
    <span class="ml-2">USOS</span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/students">
              Studenci
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teachers">
              Prowadzący
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/groups">
              Grupy zajęciowe
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-11 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div class="container-fluid footer">
  Copyright 2021
</div>
