<div>
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Studenci</h1>
  </div>
  <div>
    <div class="form-group form-inline">
      Szukaj:
      <input
        class="form-control ml-2"
        type="text"
        name="searchTerm"
        [(ngModel)]="studentsService.searchTerm"
      />
      <span class="ml-3" *ngIf="studentsService.loading$ | async"
        >Ładowanie...</span
      >
      <div ngbDropdown class="d-inline-block ml-auto">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <span *ngIf="selectedDiscipline == null">Wszystkie kierunki</span>
          <span *ngIf="selectedDiscipline != null">{{
            selectedDiscipline
          }}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="
              selectedDiscipline = null;
              studentsService.setSelectedDiscipline(null)
            "
          >
            Wszystkie kierunki
          </button>
          <button
            ngbDropdownItem
            *ngFor="let discipline of disciplines"
            (click)="
              selectedDiscipline = discipline;
              studentsService.setSelectedDiscipline(discipline)
            "
          >
            {{ discipline }}
          </button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block ml-2">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <span *ngIf="selectedClassYear == null">Wszystkie lata</span>
          <span *ngIf="selectedClassYear != null">{{ selectedClassYear }}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="
              selectedClassYear = null;
              studentsService.setSelectedClassYear(null)
            "
          >
            Wszystkie lata
          </button>
          <button
            ngbDropdownItem
            *ngFor="let classYear of classYears"
            (click)="
              selectedClassYear = classYear;
              studentsService.setSelectedClassYear(classYear)
            "
          >
            {{ classYear }}
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-primary ml-2" (click)="addStudent()">
        + Dodaj
      </button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Zdjęcie</th>
          <th scope="col" sortable="id" (sort)="onSort($event)">
            Numer indeksu
          </th>
          <th scope="col" sortable="firstName" (sort)="onSort($event)">Imie</th>
          <th scope="col" sortable="lastName" (sort)="onSort($event)">
            Nazwisko
          </th>
          <th scope="col" sortable="discipline" (sort)="onSort($event)">
            Kierunek
          </th>
          <th scope="col" sortable="classYear" (sort)="onSort($event)">
            Rok studiów
          </th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students$ | async; index as i">
          <td>
            <img
              [src]="dataService.getStudentAvatar(student.id)"
              class="rounded picture"
              alt="..."
            />
          </td>
          <td>
            <ngb-highlight
              [result]="student.id"
              [term]="studentsService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="student.firstName"
              [term]="studentsService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="student.lastName"
              [term]="studentsService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="student.discipline"
              [term]="studentsService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="student.classYear"
              [term]="studentsService.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <i
              class="ti ti-layout-list-thumb text-info"
              ngbTooltip="Szczegóły"
              [routerLink]="'/students/' + student.id"
            ></i>
            <i
              class="ti ti-pencil text-info ml-2"
              ngbTooltip="Edytuj"
              (click)="editStudent(student)"
            ></i
            ><i
              class="ti ti-trash text-danger ml-2"
              ngbTooltip="Usuń"
              (click)="deleteStudent(student)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="studentsService.page"
        [pageSize]="studentsService.pageSize"
      >
      </ngb-pagination>
      <select
        class="custom-select"
        style="width: auto"
        name="pageSize"
        [(ngModel)]="studentsService.pageSize"
      >
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
