.picture {
  max-height: 40px;
  max-width: 40px;
}

td {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
  color: #007bff;
}

th {
  user-select: none;
  background-color: #f8f9fa;
}

i {
  cursor: pointer;
}
